#main{
    margin-top:10%;
    height: 80vh;
    width: 60%;
    margin: auto;
    /* background-color: wheat; */
    position: relative;
}

#clock{
     height: 200px;
     width: 500px;
 }  

#hour{

    float: left;
    font-size: 60px
    
    
}
#minute{

    float: left;
    font-size: 60px;
    
  
}
#second{

    float: left;
    font-size: 60px;
    
}
#date{

    float: left;
    font-size: 60px;
    margin-left: 5%;
    
}

.colon{
 
    float: left;
    font-size: 60px;


}
#today{

    float: left;
    font-size: 25px;
    
}

#stopWatch{
    width:70% ;
    height: 80%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 10%;
    font-size: 30px;

}